{
  "$schema": "https://opencode.ai/config.json",
  "mcp": {
    "figma": {
      "type": "remote",
      "url": "https://mcp.figma.com/mcp",
      "enabled": true,
      "oauth": false,
      "headers": {
        "Authorization": "Bearer GANTI_DENGAN_TOKEN_FIGMA_KAMU"
      }
    },
    "pdf-reader": {
      "type": "local",
      "command": ["npx", "-y", "@sylphx/pdf-reader-mcp"]
    }
  }
}
